@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Help My Closet</h1>
    <p class="lead">Help My Closet is a wardrobe organization website designed by Valerie Shoskes for a coding bootcamp assignment.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add Wardrobe Items</h2>
        <p>
            Before you start adding items, please follow the directions for adding seasons and types. 
        </p>
        <p><a class="btn btn-default" href="/Clothings/Index">Add Clothing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Seasons</h2>
        <p>Please make sure you have the seasons "Spring", "Fall", "Winter", and "Summer" added before you add clothes.</p>
        <p><a class="btn btn-default" href="/Seasons/Index">Add Seasons &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Types</h2>
        <p>Add "Top", "Bottom", "Shoes", "Accessories" IN THAT ORDER if they do not already exist.</p>
        <p><a class="btn btn-default" href="/ClothingTypes/Index">Add Types &raquo;</a></p>
    </div>
</div>